<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <title>Client</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Client Detail</h1>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <td th:text="${client.id}"></td>
        </tr>
        <tr>
            <th>First name</th>
            <td th:text="${client.firstName}"></td>
        </tr>
        <tr>
            <th>Surname</th>
            <td th:text="${client.surname}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${client.address}"></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td th:text="${client.phoneNum}"></td>
        </tr>
        <tr>
            <th>Birth Number</th>
            <td th:text="${client.birthNum}"></td>
        </tr>
        <tr>
            <th>Country of origin</th>
            <td th:text="${client.countryOfOrigin}"></td>
        </tr>
        <tr>
            <th>State</th>
            <td th:text="${client.status}"></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
