<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <title>List of clients</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Clients</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Surname</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client : ${clients}">
            <td th:text="${client.id}"></td>
            <td th:text="${client.firstName}"></td>
            <td th:text="${client.surname}"></td>
            <td th:text="${client.status}"></td>
            <td>
                <a th:href="@{'/client/' + ${client.id}}">Detail</a> |
                <a th:href="@{'/change-requests/create?clientId=' + ${client.id}}">Create change request</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>
